.list-of-things__container {
  &.things-grid-cols-2 {
    .list-of-things {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
  
  &.things-grid-cols-3 {
    .list-of-things {
      grid-template-columns: repeat(3, minmax(0, 1fr));
  
      @media (max-width: $breakpoint-sm) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  
  }
  
  &.things-grid-cols-4 {
    .list-of-things {
      grid-template-columns: repeat(4, minmax(0, 1fr));
  
      @media (max-width: $breakpoint-md) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
    
      @media (max-width: $breakpoint-sm) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
}




.row {
  display: flex;

  &.center-items {
    align-items: center;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.gap-0 {
    gap: 0;
  }

  &.gap-xxs {
    gap: $spacing-xxs;
  }

  &.gap-xs {
    gap: $spacing-xs;
  }

  &.gap-sm {
    gap: $spacing-sm;
  }

  &.gap-md {
    gap: $spacing-md;
  }

  &.gap-lg {
    gap: $spacing-lg;
  }

  &.gap-xl {
    gap: $spacing-xl;
  }

  &.gap-xxl {
    gap: $spacing-xxl;
  }
}
