@use 'variables' as *;

.search-sort-things {
  margin-bottom: $spacing-md;

  label {
    font-size: $font-size-sm;
  }
}

.thing-searcher {
  max-width: 100%;
  
  .search-thing-input__container {
    max-width: 100%;
    position: relative;
  }

  .search-things-input {
    padding-right: calc($font-size-normal + (1.5 * $spacing-xxs)) !important;
  }
  
  .clear-search-things {
    background-color: transparent;
    background-image: url("../images/close-opaque.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: none;
    box-shadow: none;
    display: inline-block;
    height: 1.25em;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
      top: 50%;
      right: $spacing-xxs;
    transform: translateY(-50%);
    width: 1.25em;
  
    &:hover:not(:active),
    &:active {
      background-color: rgba(0, 0, 0, .1);
      border-radius: 9999px;
      box-shadow: none;
    }
  }
}

.thing-sorter {
  .things-sort-button {
    text-wrap: nowrap;
  }
}