@use 'variables' as *;

:where(.thing-card) { // Fallback thing card styles because they look goofy without a border at least.
  border: 1px solid LightSlateGray;
}

:where(.screen-reader-text) {
  height: 1px;
  overflow: hidden;
  position: absolute;
    left: -9999px;
    top: auto;
  width: 1px;
}

.list-of-things {
  margin-bottom: $spacing-lg;

  .thing {
    .thing-title {
      margin-top: 0;
    }

    &.thing-card {
      padding: $spacing-md;
      
      &.thing-has-thumbnail {
        padding: 0;

        .thing-thumbnail__container {
          aspect-ratio: 16 / 9;
          margin: 0;
          overflow: hidden;
          padding: 0;
        }
        
        .thing-title__container {
          padding: 0 $spacing-md $spacing-md $spacing-md;
        }
      }
      
      .thing-col > :first-child {
        margin-top: 0;
      }

      .thing-col > :last-child {
        margin-bottom: 0;
      }
    }
  }
}

.list-of-things__container {
  &.layout-grid {
    .list-of-things {
      display: grid;
      gap: $spacing-xs;
    
      .thing {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
    
        &.thing-has-thumbnail {
          .thing-thumbnail__container {
            background-color: rgba(0, 0, 0, .1);
    
            img {
              height: 100%;
              object-fit: cover;
              width: 100%;
            }
          }

          .thing-title__container {
            > :first-child {
              margin-top: 0;
            }

            > :last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.layout-list {
    .list-of-things {
      .thing {
        &.thing-has-thumbnail {
          align-items: center;
          display: grid;
          gap: $spacing-sm;
          grid-template-areas: 'thumbnail title';
          grid-template-columns: 1fr 3fr;
          margin-bottom: $spacing-lg;
          min-height: 150px;
    
          .thing-thumbnail__container {
            background-color: rgba(0, 0, 0, .1);
            grid-area: thumbnail;
            height: 100%;
            overflow: clip;
            position: relative;
    
            img {
              position: absolute;
                top: 50%;
              transform: translateY(-50%);
            }
          }
    
          .thing-title__container {
            grid-area: title;
            padding: $spacing-sm 0;

            > :first-child {
              margin-top: 0;
            }

            > :last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
