.list-of-things {
  margin-bottom: $spacing-lg;

  .thing {
    &.card {
      .thing-title__container {
        > :first-child {
          margin-top: 0;
        }

        > :last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.list-of-things_container {
  &.layout-grid {
    .list-of-things {
      display: grid;
      gap: $spacing-md;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    
      .thing {
        display: flex;
        flex-direction: column;
        gap: $spacing-sm;
    
        &.thing-has-thumbnail {
          .thing-thumbnail__container {
            background-color: rgba(0, 0, 0, .1);
    
            img {
              height: 300px;
              object-fit: cover;
              width: 100%;
            }
          }

          .thing-title__container {
            > :first-child {
              margin-top: 0;
            }

            > :last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.layout-list {
    .list-of-things {
      .thing {
        &.thing-has-thumbnail {
          align-items: center;
          display: grid;
          gap: $spacing-sm;
          grid-template-areas: 'thumbnail title';
          grid-template-columns: 1fr 3fr;
          margin-top: 1em;
          margin-bottom: 1em;
          min-height: 150px;
    
          .thing-thumbnail__container {
            background-color: rgba(0, 0, 0, .1);
            grid-area: thumbnail;
            height: 100%;
            overflow: clip;
            position: relative;
    
            img {
              position: absolute;
                top: 50%;
              transform: translateY(-50%);
            }
          }
    
          .thing-title__container {
            grid-area: title;
            padding: 1em 0;

            > :first-child {
              margin-top: 0;
            }

            > :last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
