@use 'sass:map';
@use 'variables' as *;

$sizes: (
  'xxs': $spacing-xxs,
  'xs': $spacing-xs,
  'sm': $spacing-sm,
  'md': $spacing-md,
  'lg': $spacing-lg,
  'xl': $spacing-xl,
  'xxl': $spacing-xxl,
);

@each $size, $var in $sizes {
  :not(.layout-list).gap-#{$size} {
    gap: $var;
  }

  .layout-list.gap-#{$size} {
    .list-of-things {
      .thing {
        &:not(:first-child) {
          margin-top: $var;
        }

        &:not(:last-child) {
          margin-bottom: $var;
        }
      }
    }
  }
}

$sides: (
  'top',
  'right',
  'bottom',
  'left'
);

.list-of-things__container {
  @each $side in $sides {
    @each $size, $var in $sizes {
      .margin-#{$side}-#{$size} {
        margin-#{$side}: $var;
      }
    }
  }

  :has(> :first-child.margin-top-0) {
    margin-top: 0;
  }

  .margin-top-0 {
    margin-top: 0;

    > :first-child {
      margin-top: 0;
    }
  }

  :has(> :last-child.margin-bottom-0) {
    margin-bottom: 0;
  }

  .margin-bottom-0 {
    margin-bottom: 0;

    > :last-child {
      margin-bottom: 0;
    }
  }
}
